html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* all link icons */
.nav-link i {
    padding-right: .3rem
}
    /* management icon */
    .nav-link i.bi-gear {
        padding-right: 0
    }